.benvenuto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* vh è percentuale dello schermo  */
    height: 90vh;
    background-color: rgb(114, 114, 114);
}

.bio {
    height: 30vh;
    display: flex;
    align-items: center;
}

.foglio {
    border: 0.5px solid rgb(60, 60, 60);
    padding: 5%;
}

.cv {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btn {
    width: auto;
}

.logo {
    width: 50%;
}

footer {
    background-color: cadetblue;
    padding: 5vh;
}

border-radius {
background-color:#e0e0e0 8px;
cursor:pointer;
transition: 0.2s;
}
button:hover {
background: #ccc;
}
.operator {
background: #ffca7a;
}
.operator:hover {
background: #ffb74a;
}
.equal {
background: #7ad37a;
}
.equal:hover {
background: #5bc65b;
}